/* Falling Stars Background Removed */

/* Noise Background */
.bg-noise {
  background-color: #f8f6f3;
  background-image: url('https://www.transparenttextures.com/patterns/noise.png');
  background-size: auto;
}